{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{% static 'base.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>SuperWeather</title>

    <style>
        table, th, td {
        border: 2px solid;
        width: 100%;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Домашняя страница</a>
        </div>
    </nav>

        <div class="row">
            <div class="col-md-12 col-md-offset-3 mt-4 p-5 bg-primary text-white rounded">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>

                    {% block city_form %}
                    <form method="POST" action="{% block form_action %}{% endblock %}">
                        {{ city_form.text }}
                        {{ city_form }}
                        {% csrf_token %}
                        {% if city_form.errors %}
                            <div class="form-group has-error">
                                <div class="help-block">{{ city_form.errors }}</div>
                            </div>
                        {% endif %}
                    </form>
                    {% endblock %}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% block table %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                {% block extra_content %}
                {% endblock %}
            </div>
        </div>

    </div>


</body>

</html>