{% extends 'base.html' %}

{% block header_text %}Добро пожаловать на SuperWeather.com{% endblock %}

{% block city_form %}

<form method="POST" action="{% url 'api' %}">
    <label for="city">Название города:</label>
    <input type="text" name="city" id="city" placeholder="например: Москва">
    {% csrf_token %}
</form>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#city" ).autocomplete({
      source: '{% url 'autocomplete' %}'
    });
  } );
</script>


{% endblock %}


{% block extra_content %}{% endblock %}