{% extends 'base.html' %}


{% block header_text %}
    {{ city }}
    <br>
    <h5>
        <a href="{% url 'city-request-count' city %}" style="color:white;">
            количество просмотров прогноза погоды для этого города</a>
    </h5>

{% endblock %}

{% block extra_content %}

    <table id="id_current_forecast_table" class="table">
        <h2>Текущая погода</h2>
        {% for key, value in current.items %}
            <tr>
                <td>{{ key }}: {{ value }} </td>
            </tr>
        {% endfor %}
    </table>

    <h2>В ближайшее время</h2>
        {{ hourly|safe }}

{% endblock %}